@import "./variable.scss";

.product-card{
  width: 10rem;
  height: 10rem;
  background: $color-primary;
  &__image{
    color: $color-secondary;
  }
  &__description{
    width:100%;
    &__color{
      &--merah{
        background: red;
      }
      &--biru{
        background: blue;
      }
    }
  }
  h1{
    color: orangered;
  }
}

